name: Cargo Build & Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches:
      - master
      - '*'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v3

      - run: rustup toolchain install nightly -c clippy  -- && rustup default nightly

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: pipeline # Share cache between runs

      - run: cargo clippy --all-targets --all-features -- -D warnings

      - run: cargo build --verbose
        env:
          RUSTFLAGS: "-D warnings"

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: [ build ]

    steps:
      - uses: actions/checkout@v3

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: pipeline # Share cache between runs

      - run: cargo test --verbose

  bench:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: [ build ]

    steps:
      - uses: actions/checkout@v3

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: pipeline # Share cache between runs

      - name: Run benchmark
        run: cargo +nightly bench | tee output.txt

      - name: Download previous benchmark data
        uses: actions/cache@v3
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: 'cargo'
          # Where the output from the benchmark tool is stored
          output-file-path: output.txt
          # Where the previous data file is stored
          external-data-json-path: ./cache/benchmark-data.json
          fail-on-alert: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-on-alert: true
          alert-comment-cc-users: '@martinjonsson01'
